<% if (flash) { %>
  <div class="alert alert-<%= flash.type %> alert-dismissible fade show app-flash-popup" role="alert" data-auto-dismiss="5000">
    <%= flash.message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>
